@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent !important;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

img {
  max-width: 100%;
}

span, label {
  display: inline-block;
}

html {
  scroll-behavior: smooth;
}

input, textarea {
  outline: none;
  border: 0;
  background: transparent;
}

button {
  border: none;
  cursor: pointer;
  background: transparent;
  outline: 0;
  font-family: "Roboto Condensed", sans-serif;
}

address {
  font-style: normal;
}

.wrapper {
  width: 100%;
  overflow: hidden;
  min-height: 100vh;
}

ul, ol, dl {
  list-style: none;
  padding: 0;
  margin: 0;
}

p, h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  background: #32302F;
}

.main_container {
  max-width: 107.25rem;
  margin: 0 auto;
}

.checkbox {
  position: relative;
  width: 4.5625rem;
  height: 1.125rem;
  background: #F0F0F0;
  border: 0.0625rem solid #CACACA;
  border-radius: 3.125rem;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}
.checkbox input {
  display: none;
}
.checkbox_icon {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: #B5B5B5;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  transition: 0.3s ease all;
}
.checkbox input:checked + .checkbox_icon {
  background: #4A9764;
  left: 2.5625rem;
}

.select_file {
  width: 19rem; /* 304px */
  height: 16.75rem; /* 268px */
  background: #ECECEC;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1.25rem; /* 20px */
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}
.select_file input {
  display: none;
}

.btn_orange {
  font-size: 1.125rem; /* 18px */
  line-height: 1.4375rem; /* 23px */
  color: #fff;
  background: #E4641E;
  border-radius: 1.875rem; /* 30px */
  padding: 1.125rem 3.125rem 0.9375rem; /* 18px 50px 15px */
  display: inline-flex;
}

.header {
  padding-top: 2.9375rem; /* 47px / 16 */
}
.header__container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  width: 19.75rem; /* 316px / 16 */
  height: 4.625rem; /* 74px / 16 */
  position: relative;
  z-index: 1;
}
.header__logo::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 100vw;
  height: 100%;
  background: #fff;
  z-index: -1;
  border-radius: 2.5rem; /* 40px / 16 */
}
.header__logo img {
  position: absolute;
  left: 0;
  top: 0.625rem; /* 10px / 16 */
}
.header .add_btn {
  position: absolute;
  width: 4.75rem; /* 76px / 16 */
  height: 4.75rem; /* 76px / 16 */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 0.0625rem solid #fff; /* 1px / 16 */
  border-radius: 3.125rem; /* 50px / 16 */
  font-weight: 300;
  color: #E4641E;
  font-size: 0.8125rem; /* 13px / 16 */
}
.header .add_btn::before {
  content: "";
  width: 6.125rem; /* 98px / 16 */
  height: 6.125rem; /* 98px / 16 */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 0.0625rem solid rgba(228, 99, 30, 0.32); /* 1px / 16 */
  border-radius: 6.125rem; /* 98px / 16 */
}
.header__nav {
  position: relative;
  z-index: 1;
  height: 4.625rem; /* 74px / 16 */
  padding-left: 3.9375rem; /* 63px / 16 */
  display: flex;
  align-items: center;
  gap: 4rem; /* 64px / 16 */
}
.header__nav::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100%;
  background: #fff;
  z-index: -1;
  border-radius: 2.5rem; /* 40px / 16 */
}
.header__nav a {
  font-weight: 400;
  font-size: 1.625rem; /* 26px / 16 */
  color: #585858;
}
.header__nav a.active {
  color: #000;
  border-bottom: 0.0625rem solid #E4641E; /* 1px / 16 */
}

.home {
  padding: 3.4375rem 0 4.875rem; /* 55px / 16, 78px / 16 */
}
.home__container {
  display: flex;
  flex-direction: column;
  gap: 2.5rem; /* 40px / 16 */
}
.home .accordion {
  background: #F5F5F5;
  border-radius: 1.875rem; /* 30px / 16 */
}
.home .accordion_head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.875rem 1.875rem 2.5625rem 2.75rem; /* 30px / 16, 41px / 16, 44px / 16 */
  position: relative;
  background: #fff;
  box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.2);
  border-radius: 1.875rem; /* 30px / 16 */
}
.home .accordion_head__content h3 {
  color: #000;
  font-size: 1.125rem; /* 18px / 16 */
  font-weight: 400;
  margin-bottom: 0.875rem; /* 14px / 16 */
}
.home .accordion_head__content ul {
  display: flex;
  align-items: center;
  gap: 2.3125rem; /* 37px / 16 */
  font-weight: 300;
  font-size: 0.875rem; /* 14px / 16 */
}
.home .accordion_head__content ul span {
  font-weight: bold;
}
.home .accordion_head__progress {
  display: flex;
  align-items: center;
  gap: 0.4375rem; /* 7px / 16 */
}
.home .accordion_head__progress .line {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background: #E4641E;
  z-index: -1;
  border-radius: 3.125rem 0 0 3.125rem; /* 50px / 16 */
}
.home .accordion_head__progress .line_wrap {
  display: flex;
  align-items: center;
  height: 1.125rem; /* 18px / 16 */
  width: 38.6875rem; /* 619px / 16 */
  background: #F0F0F0;
  border: 0.0625rem solid #CACACA; /* 1px / 16 */
  border-radius: 3.125rem; /* 50px / 16 */
  font-size: 0.625rem; /* 10px / 16 */
  color: #fff;
  padding-left: 0.9375rem; /* 15px / 16 */
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.home .accordion_head__progress p {
  font-size: 0.625rem; /* 10px / 16 */
  flex-shrink: 0;
  color: #000;
}
.home .accordion_head__settings {
  display: flex;
  align-items: center;
}
.home .accordion_head__settings .edit-icon {
  margin: 0 1.25rem 0 1.6875rem; /* 20px / 16, 27px / 16 */
}
.home .accordion_head__btn {
  position: absolute;
  left: 50%;
  bottom: -1.375rem; /* -22px / 16 */
  transform: translateX(-50%);
  width: 3.25rem; /* 52px / 16 */
  height: 3.25rem; /* 52px / 16 */
  border-radius: 3.125rem; /* 50px / 16 */
  background: #FFFFFF;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 0.5rem; /* 8px / 16 */
  box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.2);
}
.home .accordion_head__btn::before {
  content: "";
  position: absolute;
  left: -0.625rem; /* -10px / 16 */
  top: -0.625rem; /* -10px / 16 */
  height: calc(100% - 0.75rem); /* 12px / 16 */
  width: calc(100% + 1.25rem); /* 20px / 16 */
  background: #fff;
  border-radius: 3.125rem 3.125rem 0 0; /* 50px / 16 */
}
.home .accordion_head__btn.active img {
  transform: rotateZ(180deg);
}
.home .accordion_body {
  padding: 1.9375rem 2.375rem 2.6875rem; /* 31px / 16, 38px / 16, 43px / 16 */
  display: flex;
  align-items: flex-start;
  gap: 12.125rem; /* 194px / 16 */
}
.home .accordion_body__wrap {
  display: none;
}
.home .accordion_body .body_item:nth-child(2) ul li {
  width: 14.875rem; /* 238px / 16 */
}
.home .accordion_body h3 {
  font-weight: 400;
  font-size: 0.9375rem; /* 15px / 16 */
  color: #000;
  margin-bottom: 0.875rem; /* 14px / 16 */
}
.home .accordion_body ul {
  display: flex;
  flex-direction: column;
  gap: 1.375rem; /* 22px / 16 */
}
.home .accordion_body ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 21.75rem; /* 348px / 16 */
  gap: 0.75rem; /* 12px / 16 */
}
.home .accordion_body ul p {
  font-size: 0.875rem; /* 14px / 16 */
  font-weight: 300;
  color: #000;
  padding-left: 1rem; /* 16px / 16 */
  position: relative;
}
.home .accordion_body ul p::before {
  content: "";
  position: absolute;
  top: 0.4375rem; /* 7px / 16 */
  left: 0.1875rem; /* 3px / 16 */
  width: 0.1875rem; /* 3px / 16 */
  height: 0.1875rem; /* 3px / 16 */
  background: #000;
  border-top-right-radius: 50%;
}
.home .accordion_body ul .action {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.home .accordion_body ul .checkbox {
  width: 2.5rem; /* 40px / 16 */
  height: 0.625rem; /* 10px / 16 */
}
.home .accordion_body ul .checkbox_icon {
  width: 1.125rem; /* 18px / 16 */
  height: 1.125rem; /* 18px / 16 */
}
.home .accordion_body ul .checkbox_icon img {
  display: none;
}
.home .accordion_body ul .checkbox input:checked + .checkbox_icon {
  left: 1.375rem; /* 22px / 16 */
}
.home .accordion_body ul .edit-icon {
  margin: 0 0.6875rem 0 0.875rem; /* 11px / 16, 14px / 16 */
}
.home .accordion_body ul .edit-icon img {
  width: 0.89375rem; /* 14.29px / 16 */
}
.home .accordion_body ul .delete-icon img {
  width: 0.7775rem; /* 12.44px / 16 */
}
.home .accordion.active .accordion_body__wrap {
  display: block;
}

.course {
  padding: 2.5rem 0 2.9375rem; /* 40px / 16, 47px / 16 */
}
.course__title {
  color: #fff;
  font-size: 1.625rem; /* 26px / 16 */
  font-weight: 400;
  margin-bottom: 0.8125rem; /* 13px / 16 */
}
.course__content {
  border-radius: 1.25rem; /* 20px / 16 */
  background: #fff;
  box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.25);
  padding: 3.8125rem 5.75rem 2.25rem 5.125rem; /* 61px / 16, 92px / 16, 36px / 16, 82px / 16 */
}
.course__content h3 {
  font-size: 1.375rem; /* 22px / 16 */
  color: #3F3F3F;
  margin-bottom: 1.375rem; /* 22px / 16 */
}
.course__content_head {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 2.5rem; /* 40px / 16 */
}
.course__content_head ul {
  display: flex;
  flex-direction: column;
  gap: 1.625rem; /* 26px / 16 */
}
.course__content_head ul h3 {
  margin-bottom: 0.5625rem; /* 9px / 16 */
}
.course__content_head ul p {
  display: flex;
  align-items: center;
  gap: 0.6875rem; /* 11px / 16 */
  font-size: 1rem; /* 16px / 16 */
  font-weight: 300;
  color: #777777;
}
.course__content_head ul .form_radio {
  display: flex;
  align-items: center;
  gap: 0.0625rem; /* 1px / 16 */
}
.course__content_head ul .form_radio input {
  display: none;
}
.course__content_head ul .form_radio span {
  width: 9rem; /* 144px / 16 */
  height: 1.875rem; /* 30px / 16 */
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ECECEC;
  font-size: 1rem; /* 16px / 16 */
  font-weight: 400;
  color: #000000;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.course__content_head ul .form_radio input:checked + span {
  background: #E4641E;
  color: #fff;
}
.course__content_head .texts {
  width: 31.6875rem; /* 507px / 16 */
}
.course__content_head .texts p {
  font-size: 1rem; /* 16px / 16 */
  font-weight: 300;
  color: #777777;
}
.course__content_head .texts p button {
  display: inline;
}
.course .add_btn {
  width: 9.3125rem; /* 149px / 16 */
  height: 2.5625rem; /* 41px / 16 */
  border-radius: 1.875rem; /* 30px / 16 */
  border: 0.0625rem solid #E4641E; /* 1px / 16 */
  font-size: 0.875rem; /* 14px / 16 */
  font-weight: 500;
  color: #4A4A4A;
  display: flex;
  align-items: center;
  justify-content: center;
}
.course_item {
  margin-bottom: 1.6875rem; /* 27px / 16 */
}
.course_item h3 {
  margin-bottom: 1.0625rem; /* 17px / 16 */
}
.course_item ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem; /* 8px / 16 */
  margin-bottom: 0.75rem; /* 12px / 16 */
}
.course_item__text {
  width: 50.4375rem; /* 807px / 16 */
  padding: 0.8125rem 1.875rem; /* 13px / 16, 30px / 16 */
  border: 0.0625rem solid #E9E9E9; /* 1px / 16 */
  border-radius: 1.875rem; /* 30px / 16 */
  color: #F9F9F9;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5rem; /* 80px / 16 */
}
.course_item__text span {
  font-size: 0.875rem; /* 14px / 16 */
  font-weight: 300;
  line-height: 1.4375rem; /* 23px / 16 */
  color: #4A4A4A;
}
.course_item__text .icons {
  display: flex;
  align-items: center;
  gap: 0.875rem; /* 14px / 16 */
}
.course_item li {
  display: flex;
  align-items: center;
}
.course_item .checkbox {
  margin: 0 1.25rem 0 1.4375rem; /* 20px / 16, 23px / 16 */
}
.course_item .delete-icon {
  margin-left: 1.25rem; /* 20px / 16 */
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  display: none;
  align-items: center;
  justify-content: center;
}
.modal__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
}
.modal__close {
  width: 3rem; /* 48px / 16 */
  height: 3rem; /* 48px / 16 */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #E4641E;
  border: 0.0625rem solid #fff; /* 1px / 16 */
  position: absolute;
  top: -1.5rem; /* -24px / 16 */
  right: -1.25rem; /* -20px / 16 */
}
.modal__content {
  position: relative;
  background: #fff;
  width: 38.375rem; /* 614px / 16 */
  border-radius: 1.25rem; /* 20px / 16 */
  padding: 2.75rem 3.0625rem 2.25rem 4.5625rem; /* 44px / 16, 49px / 16, 36px / 16, 73px / 16 */
}
.modal h3 {
  font-size: 1.375rem; /* 22px / 16 */
  color: #3F3F3F;
}
.modal ul {
  width: 18.25rem; /* 292px / 16 */
  background: #F5F5F5;
  margin: 1.8125rem 0 2.6875rem; /* 29px / 16, 43px / 16 */
  display: flex;
  flex-direction: column;
  gap: 1.375rem; /* 22px / 16 */
  padding: 1rem 1.25rem; /* 16px / 16, 20px / 16 */
  border-radius: 0.3125rem; /* 5px / 16 */
}
.modal li {
  display: flex;
  align-items: center;
  gap: 0.875rem; /* 14px / 16 */
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.modal li input {
  display: none;
}
.modal li .check-icon {
  width: 1.125rem; /* 18px / 16 */
  height: 1.125rem; /* 18px / 16 */
  background: #fff;
  border: 0.0625rem solid #CBCBCB; /* 1px / 16 */
  position: relative;
}
.modal li input:checked + .check-icon::before {
  content: "";
  width: 0.375rem; /* 6px / 16 */
  height: 0.375rem; /* 6px / 16 */
  border-radius: 50%;
  background: #E4641E;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modal li .text {
  font-size: 1rem; /* 16px / 16 */
  font-weight: 400;
  color: #4D4D4D;
}
.modal p {
  color: #777777;
  font-size: 1rem; /* 16px / 16 */
  font-weight: 300;
}
.modal p a {
  display: inline;
  color: #E4641E;
  text-decoration: underline;
}
.modal.active {
  display: flex;
}
@keyframes bgActive {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.modal.active .modal__bg {
  animation: bgActive 0.3s linear 1;
}
@keyframes contentActive {
  from {
    opacity: 0;
    transform: translateY(-40%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.modal.active .modal__content {
  animation: contentActive 0.3s linear 1;
}
@keyframes modal {
  from {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}
.modal.end-active {
  display: flex;
  opacity: 0;
  animation: modal 0.3s linear 1;
}
@keyframes bgEndActive {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.modal.end-active .modal__bg {
  animation: bgEndActive 0.3s linear 1;
}
@keyframes contentEndActive {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-40%);
  }
}
.modal.end-active .modal__content {
  animation: contentEndActive 0.3s linear 1;
}

.lesson {
  padding: 3.875rem 0; /* 62px / 16 */
  min-height: 100vh;
}
.lesson__title {
  font-size: 1.625rem; /* 26px / 16 */
  font-weight: 400;
  margin-bottom: 0.75rem; /* 12px / 16 */
  color: #fff;
}
.lesson__content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 5rem; /* 80px / 16 */
  margin-bottom: 5.125rem; /* 82px / 16 */
}
.lesson__content_wrap {
  background: #fff;
  padding: 2.6875rem 3rem 1.625rem 4.9375rem; /* 43px / 16, 48px / 16, 26px / 16, 79px / 16 */
  border-radius: 1.25rem; /* 20px / 16 */
}
.lesson__content h3 {
  font-size: 1.375rem; /* 22px / 16 */
  color: #3F3F3F;
}
.lesson__form {
  display: flex;
  align-items: flex-start;
  gap: 5rem; /* 80px / 16 */
}
.lesson__left {
  display: flex;
  flex-wrap: wrap;
  width: 50.4375rem; /* 807px / 16 */
}
.lesson__left_datas {
  width: 50%;
  margin-bottom: 1.25rem; /* 20px / 16 */
  display: flex;
  flex-direction: column;
  gap: 2.125rem; /* 34px / 16 */
}
.lesson__left .form_control {
  display: flex;
  flex-direction: column;
  gap: 0.5625rem; /* 9px / 16 */
}
.lesson__left .form_control p {
  display: flex;
  gap: 1rem; /* 16px / 16 */
  color: #777777;
  font-size: 1rem; /* 16px / 16 */
  font-weight: 300;
}
.lesson__left .form_control__settings {
  display: flex;
  align-items: center;
  gap: 0.5rem; /* 8px / 16 */
}
.lesson__left .form_control select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 6.75rem; /* 108px / 16 */
  border: 0;
  background: #D9D9D9;
  font-size: 1.125rem; /* 18px / 16 */
  font-weight: 300;
  color: #000000;
  padding: 0.1875rem 0.875rem 0.125rem; /* 3px / 16, 14px / 16, 2px / 16 */
  border-radius: 0.4rem; /* 6.4px / 16 */
  font-family: "Roboto Condensed", sans-serif;
  outline: none;
  background-image: url("../images/select-icon.svg");
  background-repeat: no-repeat;
  background-position-x: 90%;
  background-position-y: 0.625rem; /* 10px / 16 */
}
.lesson__left_text {
  width: 100%;
  padding: 1.0625rem 1rem; /* 17px / 16, 16px / 16 */
  border: 0.0625rem solid #E4641E; /* 1px / 16 */
  background: #F6F6F6;
  border-radius: 0.3125rem; /* 5px / 16 */
  font-size: 0.875rem; /* 14px / 16 */
  font-weight: 300;
  line-height: 1.4375rem; /* 23px / 16 */
  color: #2A2A2A;
  min-height: 14.125rem; /* 226px / 16 */
}
.lesson__right h3 {
  margin-bottom: 1.125rem; /* 18px / 16 */
}
.lesson__action {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.lesson__action .checkbox {
  margin: 0 1.6875rem 0 1.75rem; /* 27px / 16, 28px / 16 */
}
.lesson__action .delete-icon {
  margin-left: 1.25rem; /* 20px / 16 */
}
.lesson__btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* analytics */

.analytics_in {
  margin-top: 83px;
  background-color: #fff;
  padding: 48px 53px 138px 82px;
  box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.2);
  border-radius: 1.875rem;
}
.analytics h3 {
  font-family: "Montserrat" ,sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 31.69px;
}

.analytics_head {
  margin: 27px 0;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 78px;
}

.analytics_head_left {
  height: 37px;
  border-radius: 30px;
  border: 1px solid #C3C3C3;
  overflow: hidden;
  background-color: #F1F1F1;
  max-width: max-content;
}

.analytics_head_right {
  display: flex;
  gap: 10px;
  align-items: center;
}

.analytics_head_right span {
  font-family: "Montserrat", sans-serif;
  font-size: 11.62px;
  font-weight: 400;
  line-height: 18.93px;
  color: #000;
}

.analytics_head_right input[type="date"] {
  border: 1px solid #E0E0E0;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 11.62px;
  font-weight: 400;
  line-height: 18.93px;
  color: #878787;
  width: 131px;
  height: 37px;
  border-radius: 6px;
  background-color: #FAFAFA;
  padding: 12px 12px 12px 16px;
  background:
    white
    url("../images/calendar.svg")
    right 1rem
    center
    no-repeat;
  cursor:pointer;
  display:block;
  position:relative;
}
::-webkit-datetime-edit {}
::-webkit-datetime-edit-fields-wrapper {}
::-webkit-datetime-edit-month-field:hover,
::-webkit-datetime-edit-day-field:hover,
::-webkit-datetime-edit-year-field:hover {
  background:rgba(0, 120, 250, 0.1);
}
::-webkit-datetime-edit-text {
  opacity:0;
}
::-webkit-clear-button,
::-webkit-inner-spin-button {
  display:none;
}
::-webkit-calendar-picker-indicator {
  position:absolute;
  width:2.5rem;
  height:100%;
  top:0;
  right:0;
  bottom:0;
  opacity:0;
  cursor:pointer;
  color:rgba(0, 120, 250, 1);
  background:rgba(0, 120, 250, 1);
}


.analytics_head_left button {
  font-family: "Montserrat" ,sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 17.07px;
  text-align: center;
  border-right: 1px solid #C3C3C3;
  padding: 9px 5px;
  width: 181px;
}

.analytics_head_left button:last-child {
  border: none;
}

.analytics_head_left button:nth-child(1) {
  border: none;
}

.analytics_head_left button.active {
  border: 1px solid transparent;
  background-color: #A2CE42;
}

.analytics_select {
  display: flex;
  align-items: start;
  gap: 62px;
  margin-bottom: 31px;
}

.analytics_select span {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 21.09px;
  color: #000;
}

.analytics_select_block {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.analytics_select_block select {
  width: 100%;
  -webkit-appearance:none;
  -moz-appearance:none;
  -ms-appearance:none;
  appearance:none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 44px;
  color: #000;
  border: none;
  outline: none;
  padding: 2px 14px;
  background-color: transparent;
  background-image: url("../images/select_icon.svg");
  background-repeat: no-repeat;
  background-position: right 14px top 13px;
}
.analytics_select_block select::-ms-expand {
  display: none;
}
.analytics_select_block .select {
  position: relative;
  display: flex;
  border: 1px solid #E0E0E0;
  background-color: #FAFAFA;
  border-radius: 14px;
  width: 210px;
  height: 50px;
  overflow: hidden;
}

.analytics_select_block option {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 44px;
  color: #000;
}

.analytics_select_block .select::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  /* background: #2b2e2e; */
  cursor:pointer;
  pointer-events:none;
  transition:.25s all ease;
}
.analytics_select_block .select:hover::after {
  color: #23b499;
}

.analytics_select_block button {
  border: 1px solid #E0E0E0;
  background-color: #FAFAFA;
  border-radius: 14px;
  width: 210px;
  height: 50px;
  padding: 13px 14px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 44px;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.analytics_select_block button span {
  display: flex;
  align-items: center;
  gap: 14px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 44px;
  color: #000;
}

.analytics_main_block {
  display: flex;
  align-items: start;
  gap: 68px;
}

.analytics_bar {
  width: 533px;
  margin-left: auto;
  border: 1px solid #E9E9E9;
  padding: 38px 38px 78px 50px;
  background-color: #F8F8F8;
  border-radius: 30px;
}

.analytics_bar h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  color: #212121;
  display: flex;
  align-items: center;
  gap: 8px;
}

.analytics_bar h3 span {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  color: #A2CE42;
}

.analytics_bar .bar_name {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: italic;
  font-weight: 300;
  line-height: 30px;
  color: #6F6F6F;
  margin: 5px 0 10px 0;
}

.analytics_bar_in h4 {
  font-family: "Montserrat" ,sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 30px;
  color: #6F6F6F;
  margin-bottom: 15px;
  height: 28px;
}

.analytics_bar_in h4 span {
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  font-weight: 500;
  line-height: 11px;
  text-align: center;
  color: #B3B3B3;
  display: block;
}

.analytics_bar .analytics_bar_in {
  display: flex;
  gap: 11px;
}

.analytics_bar .analytics_bar_in_left li {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 300;
  line-height: 32px;
  color: #0E0E0E;
}

.analytics_bar .analytics_bar_in_left {
  margin-right: 13px;
  width: 200px;
}

.analytics_bar_in .analytics_bar_in_block {
  max-width: 63px;
  text-align: center;
}

.analytics_bar_in .analytics_bar_in_block li {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 32px;
  text-align: center;
  color: #0E0E0E;
}

.analytics_bar_in .analytics_bar_in_center {
  max-width: 77px;
  text-align: center;
}

.analytics_bar .analytics_bar_in_center li {
  font-family: "Montserrat" ,sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 32px;
  text-align: center;
  color: #0E0E0E;
}

.analytics_bar_in .analytics_bar_in_block b {
  font-weight: 800;
}

.analytics_main_block .analytics_accardion {
  width: 100%;
  border-left: 1px solid #E9E9E9;
  border-right: 1px solid #E9E9E9;
  border-bottom: 1px solid #E9E9E9;
  border-radius: 30px;
}

.analytics_main_block_left {
  display: flex;
  flex-direction: column;
  gap: 14px;
  width: 980px;
}

.analytics_main_block .analytics_accardion.active .analytics_accardion_content {
  display: block;
}

.analytics_main_block .analytics_accardion.active button img {
  transform: rotate(180deg);
  transition: .3s linear;
}

.analytics_main_block .analytics_accardion button {
  width: 100%;
  font-family: "Montserrat",sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 23px;
  color: #333333;
  padding: 13px 30px;
  border: 1px solid #E9E9E9;
  background-color: #F7F7F7;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.analytics_accardion_content {
  border-radius: 0 0 30px 30px;
  padding-bottom: 29px;
  display: none;
}

.analytics_accardion_content li {
  display: flex;
  gap: 20px;
}

.analytics_accardion_content .analytics_accardion_content_head {
  padding: 11px 30px 0 30px;
}

.analytics_accardion_content_left {
  width: 260px;
  margin-right: 15px;
}

.analytics_accardion_content_block {
  width: 112px;
  text-align: center;
}

.analytics_accardion_content_center {
  transition: .3s linear;
  padding: 0 30px;
  border: 2px solid transparent;
}

.analytics_accardion_content_center:last-child {
  background-color: #F2F2F2;
}

.analytics_accardion_content_center:hover {
  border: 2px solid #A2CE42;
  background-color: #F2F2F2;
}

.analytics_accardion_content_block h6 {
  font-family: "Montserrat" ,sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 30px;
  color: #212121;
}

.analytics_accardion_content_left h6 {
  font-family: "Montserrat" ,sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  color: #212121;
}

.analytics_accardion_content h4 {
  margin: 2px 0 4px 0;
  display: flex;
  align-items: center;
  gap: 5px;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 14.63px;
  text-align: center;
  color: #B5B5B5;
  justify-content: center;
}

.about_main_block {
  gap: 140px;
  align-items: center;
}

.analytics_accardion_content .about_center .analytics_accardion_content_left {
  width: 430px;
}

.analytics_accardion_content .about_left {
  width: 430px;
}

.analytics_accardion_content .about_left h4 {
  justify-content: start;
}

.about_content .about_center:nth-child(odd) {
  background-color: #F2F2F2;
}

.about_content {
  height: 360px;
  overflow-y: scroll;
}

.about_content::-webkit-scrollbar {
  width: 7px;
  margin-top: 30px;
}

.about_content::-webkit-scrollbar-track {
  background-color: #E6E6E6;
  border-radius: 10px;
}

.about_content::-webkit-scrollbar-thumb {
  background-color: #A2CE42;
  border-radius: 10px;
  border: 30px solid transparent;
}

.about_content::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.about_circle p {
  font-family: "Roboto Condensed",sans-serif;
  font-size: 24.16px;
  font-weight: 300;
  line-height: 54.35px;
  margin-top: 10px;
  text-align: center;
}

@keyframes growProgressBar {
  0%, 33% { --pgPercentage: 0; }
  100% { --pgPercentage: var(--value); }
}

@property --pgPercentage {
  syntax: '<number>';
  inherits: false;
  initial-value: 0;
}

div[role="progressbar"] {
  --size: 308px;
  --fg: #369;
  --bg: #def;
  animation: growProgressBar 1s 1 forwards;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  display: grid;
  place-items: center;
  background:
    radial-gradient(closest-side, white 70%, transparent 0 99.9%, white 0),
    conic-gradient(#FF9330 calc(var(--pgPercentage) * 1%), transparent 0)
    ;
  font-size: calc(var(--size));
  color: #FF9330;
}

div[role="progressbar"]::before {
  counter-reset: percentage var(--value);
  content: counter(percentage) '%';
  font-family: 'Roboto Condensed' ,sans-serif;
  font-size: 24.16px;
  font-weight: 400;
  line-height: 54.35px;
  color: #000;
}

.circle_block h6 {
  font-family: 'Roboto Condensed',sans-serif;
  font-size: 24.16px;
  font-weight: 400;
  line-height: 54.35px;
  color: #000;
}

.about_modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000000CC;
  z-index: 4;
  display: none;
  align-items: center;
  justify-content: center;
}

.about_modal .modal_in {
  border-radius: 20px;
  background: #fff;
  padding: 44px 49px 36px 73px;
  position: absolute;
  z-index: 5;
  width: 614px;
}

.about_modal .modal_close {
  position: absolute;
  top: -24px;
  right: -20px;
}

.about_modal h6 {
  font-family: "Roboto Condensed" ,sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 25.78px;
  color: #3F3F3F;
  margin-bottom: 30px;
}

.modal_in_checkbox {
  width: 292px;
  background-color: #F5F5F5;
  border-radius: 5px;
  padding: 16px 20px;
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.modal_in p {
  margin-top: 43px;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 18.75px;
  color: #777777;
}

.modal_in p a {
  color: #E4641E;
}

.modal_in_checkbox span {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 40px;
  color: #4D4D4D;
  margin-left: 32px;
  user-select: none;
}

.checkbox-container {
  position: relative;
}

.custom-checkbox {
  display: none;
}

.custom-checkbox + label {
  width: 18px;
  height: 18px;
  border: 1px solid #CBCBCB;
  display: inline-block;
  cursor: pointer;
  position: relative;
  background-color: #fff;
  display: flex;
  align-items: center;
}

.custom-checkbox:checked + label::after {
  content: '';
  width: 6px;
  height: 6px;
  background-color: #E4641E;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* analytics */

@media only screen and (max-width: 1816px) {
  .main_container {
    max-width: calc(100% - 6.25rem);
  }
}/*# sourceMappingURL=style.css.map */
